.page{
    @include box-sizing(border-box);

    position: absolute;
    left: 0;
    height: 100%;
    overflow: auto;
    width: 100%;

    padding: 5em 5% 100px 8em;

    & > *:last-child{
        margin-bottom: 3em;
    }

    img.pull-left{
        margin: 0 20px 20px 0;
    }
}

.page-landing {
    padding-top:7.5em;

    .hello{
    }

    h1 {
        margin-bottom: .2em;
    }
    h2 {
        font-size: 26px;
        margin: 0;
    }

    .hello {
        font: 24px/1.5em Arvo;
        text-transform: uppercase;
    }

    .overlay{
        display: inline-block;
        z-index: 1;
        position: relative;


        &:after{
            content: '';
            position: absolute;
            left:-100%;
            right:-20px;
            top:-100%;
            bottom:-100%;
            background: rgba(255,255,255, .7);
            z-index: -1;
        }
    }
}

.page-about{
    aside{
        float: left;
        margin: 0 20px 0 0;

        img{
            margin-bottom: 2em;
        }
        h5{
            padding-bottom: .5em;
        }

    }

    .page-content{
        overflow: hidden;
        max-width:560px;
    }
}
