<section class="page">
    <!--<span class="vyshyvanka"></span>-->

    <h1>Labs</h1>

    <div class="row">
        <article class="page-item ">

            <header>
                <span>plugins</span>

                <h3><a href="#/labs/breezko">Breezko</a></h3>
            </header>

            <img src="assets/images/thumb-breezko.png" class="pull-left" alt="">

            <p class="text-left">
                Breezko is library agnostic plugin, written with pure javascript, that allows previewing or navigation
                through items using CSS3 transitions and transforms.
                <br>
                Every next element just flyes away out of screen,
                and coming back in the next loop.
            </p>
        </article>

        <article class="page-item">
            <header>
                <span href="#">ui</span>

                <h3><a href="#/labs/paperko">Paperko</a></h3>
            </header>

            <img src="assets/images/thumb-paperko.png" class="pull-left" alt="">

                <p>
                    The ulimate collection of css3 paper like effects, behaviours and styles, written with SASS and
                    love.
                </p>
        </article>

        <article class="page-item">
            <header>
                <span href="#">javascript</span>

                <h3><a href="#/labs/pickerko">Pickerko</a></h3>
            </header>

            <img src="assets/images/thumb-pickerko.png" class="pull-left" alt="">

            <p>
                A lightweight, easily customizable, datepicker plugin, written in MVC style with vanilla JS. Why? Why not!?
            </p>
        </article>

        <article class="page-item ">

            <header>
                <h3><a href="#/labs/responsive-tables">Responsive table patterns</a></h3>
            </header>

            <img src="assets/images/thumb-tables.png" class="pull-left" alt="">


            <p>
                Easy customizable, framework agnostic, responsive table patterns written with SASS and easy to use
                with Twitter Bootstrap
            </p>
        </article>

    </div>

</section>