<section class="page">
    <h1>Labs</h1>

    <div class="row">
        <article class="page-item ">

            <header>
                <span>plugins</span>

                <h3><a href="#/labs/breezko">Breezko</a></h3>
            </header>

            <img src="assets/images/thumb-breezko.png" class="pull-left" alt="">

            <p class="text-left">
                Breezko is library agnostic plugin, written with pure javascript, that allows previewing or navigation
                through items using CSS3 transitions and transforms.
                <br>
                Every next element just flyes away out of screen,
                and coming back in the next loop.
            </p>
        </article>

        <article class="page-item">
            <header>
                <span href="#">ui</span>

                <h3><a href="#/labs/breezko">Paperko</a></h3>
            </header>

            <img src="assets/images/thumb-paperko.png" class="pull-left" alt="">

                <p>
                    The ulimate collection of css3 paper like effects, behaviours and styles, written with SASS and
                    love.
                </p>
        </article>

        <article class="page-item ">

            <header>
                <span href="#">plugins</span>

                <h3><a href="#/labs/">Responsive table patterns</a></h3>
            </header>

            <p>
                The ulimate collection of css3 paper like effects, behaviours and styles, written with SASS and love.
            </p>
        </article>

    </div>

</section>