<article class="page">
    <h1>Labs</h1>

    <div class="breadcrumbs">
        <a href="#">plugins</a>

        <h3>Coffepicker</h3>
    </div>

    <h4 class="border-bottom">We've learned that it's better to have a strong conviction for the values and larger
        aspirations of your project, and then just let things happen to you along the way.</h4>

    <p>
        Woohoo! Day 100 has arrived. We can hardly believe it. So much has happened in a mere three months that it’s
        hard to
        process it. But, we can say that we could never have imagined just how amazing the past 100 Days have been.
        We’ve
        talked a lot about how humbled we are by the graciousness and willingness of these, talented, genuine, brilliant
        designers and entrepreneurs to take the time to talk with us. We just want to reiterate, that it’s not just
        talk. We
        are truly thankful that they’ve been so amazingly open with their answers, and truly excited to be a part of
        Kern
        and Burn.
    </p>

    <p>
        We also didn’t expect to build such an active community around Kern and Burn, one who keep us going everyday,
        keep
        us excited about what we’ve started, and has encouraged us that it is a real possibility to keep this thing
        going
        beyond today. That is a positive reinforcement to everything we have done so far. We can’t thank you guys enough
        for
        being here. Our readers make it all worth it, because we know that we have struck a chord within the design
        community (albeit not an entirely new one) just one that excites us and we think, excites you guys.
    </p>

    <p>
        We had some idea of how we thought we could build Kern and Burn, but again, we just rolled with the waves of
        momentum, the moments where we really had no clue what we were doing, but went with them anyway, and the times
        when
        we thought, what in the world are we thinking?! (Like, planning the 100th Day to coincide with the day our
        thesis
        exhibition opens. We could have used a tiny cushion…but hey, it all worked out). If there’s one thing that we’ve
        learned, it’s that it is better to have a strong conviction for the values and larger aspirations of your
        project,
        and then just let things happen to you along the way.
    </p>
</article>